#result-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
}

#result-item > #details {
    display: flex;
    flex-direction: column;
}