#property-types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#property-types > button {
  color: #287eff;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 18px;
  background: none;
}

/* #property-types > button > .selected {
  background-color: #c3dbff;
} */

#selected {
    background-color: #c3dbff !important;
}